form{
	background-image: linear-gradient(#c3986b, #ffffff);
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	padding: 2vw 4vw;
	border-radius: 10px;
}
form h3{
	color: #593718;
	font-weight: 800;
	margin-bottom: 20px;
}
form input, form textarea{
	border: 0;
	margin: 10px 0;
	padding: 20px;
	width: 50%;
	outline: none;
	background :#f5f5f5;
	font-size: 16px;
	border-radius: 10px;
}
form button{
	border: 0;
	padding: 15px;
	width: 135px;
	color: #fff;
	background :#c3986b;
	font-size: 18px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	margin: 20px auto 0;
}
@media (min-width: 1100px) {
	form button{
	border: 0;
	padding: 15px;
	width: 200px;
	color: #fff;
	background :#c3986b;
	font-size: 18px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	margin: 20px auto 0;
	}
}